<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   id="svg10"
   width="344"
   height="344"
   viewBox="0 0 344 344">
  <metadata
     id="metadata16">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs14" />
  <g
     id="g18">
    <image
       width="344"
       height="344"
       preserveAspectRatio="none"
       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVgAAAFYCAYAAAAWbORAAAAABmJLR0QA/wD/AP+gvaeTAAAXvElE
QVR4nO3da7BeV13H8e9JmlubW5s0aZqWJmkptVxFwYGCDViqlovOKOiMgqOClzegM3iZURB9o9NR
R3nlcJmRKczoWEEF5Q6FtkJRW66F0rRNk+aeNElzb9McX6y9c57znJPk5GT/19p7P9/PzJ7nyZOT
P2vvsn9nPWvvvRZIkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJ
kiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkiRJkgobK90Atd58YGm1XQosA+YC
y4GLgCXVz1wCLAIWVu/rfze3+ndzqn9bq3920PDP1BYD84Y+ewY4PM3PHgRODX12HDg29DPPAgeq
16eAp4EjAz97pPrsEHBy4GcPAvurf1P/O2laBmz/zQVWACur1/r9smpbOrAtI4Xh4J+HQ1CTHWMi
bJ8ihe/BgT8fHHjdC+wbeN1HCm31lAHbPQuA1cBaYBUTgXk5U0N0JXBZmWZqhuqgHQ7fPdX7vdX7
bcAu4ESZZmo2DNj2WAFcUW1rmByiV1Z/XkPqYWp0PQnsrLbtwG5S+O4Gdgz83b5SDdQEAzaPRaRw
3EAKy+H315PGMqWmnCAF7w5SED86zfsdwHipBo4CA7YZVwDrgXUDr9cAVwPPIV30kdrmMLAFeAJ4
HHgM2DzwurNc0/rBgJ2ZxcB1wLVMDdL1pB6q1DfHSGE7HLybqu1IuaZ1gwE7YQFpzPP5wI2kr/D1
to50C5GkCftJww319iDwPeBh0p0TI29UA3YV8GrgJdX2YtLXeUnN2Ap8C/gm8ABwN+luiJEyKgE7
BrwSeANwKylU7ZFK+ZwiBe3ngE8BX2MELrD1PWCvB3612tYXboukCY8CH622hwu3JUxfA/ZVwB8B
r6e/+yj1wTjwReD9wCcLt0XncCvwDdJ/NDc3t25t9wGvo0f60rv7EeDPgTeXboikC/YF4N2ki2Sd
Nrd0Ay7QxcDtwD8CLyjcFknN2AC8gzTh0N2k2cw6qcs92JuADwPPK90QSWEeBd4OfLl0Q2ajiz3Y
MdIFrI+SZpCS1F+XAm8jPS35JdJYbWd0rQe7ghSsP1O6IZKy+zTplssnSzdkproUsNcDn8H7WaVR
9gipg7WpdENmoitPM/04abDbcJVG27XAPcBLSzdkJroQsK8hDXCvKt0QSa2wGrgLuLl0Q86l7UME
ryA9u7y4dEM0Y6dI60+dJC0YeAI4Wm0nmFhEcNBh0iKGg+pFCGdipgso1p/VizUuIN3qN7xYo7rh
EHAL6eGiVmpzwL6E1HNdXrohPVevlHqgeh1cpG9w4b79A+8PM31oHqBjV3nPYAkphJeTQrleQXdp
9X54sch6gcjp/s7J1mM9CWwEvlO6IdNpa8BeBfwPaaUAzdxxJhbO21Ntwwvq7R748wGcNDnaXNLC
k8Mr+9aLVA4vVFm/18xtA15GWgKnVdoYsIuAr5IubCl9dd5FWktpFxNrKQ1/to/Us1T31Uutr2Ly
IphXMnkRzCtw1eDa10jXa1q16m4bA/YO0r1uo2A/aT2kLaQJip+oXgdXDN1drHXqgnoZ9zp8ryGt
zHEVaT24q6u/G4Wx5Q+RHrFtjbYF7K+R5hXog2dIwfkYKTSHQ/Rx/HquPMZIvd2rScF79cBWry3X
l6cifxn459KNqLUpYK8Cvk16NK4rhtckGty20OFJKjRy6jXpNkyzXUt3LjYfAF5E6sQU15aAHSM9
Z7yxdEOGnCL9h9pEmnW9fv0hqWfaqvEeKdDlpJWVn1tt1w28Dt8OV9qngdtKNwLaE7BvAz5SuA2P
kAbKv0MK0TpQj5dslNQBq0hB+3zS7ZWvBl5YtEVpbug7C7ehFZaQLuiUmEF9C/Be0tcgSc1ZC/wJ
sJky5/Zm0h1JI++vyH/wvwq8iW5O1yh1yVzgjcC95D/P35th/1ptNelKeq4DvoM0HNGWoRFpVIyR
zr1d5DvfD9Kti+aNu518B/sfSI8uSirnMtKczrnO+/fk2a32WUF6tj36AJ8E3plpnyTNzLtI82BE
n//7SNd5Rs4fE39w99OzZYClHvkF8gwR/m6uHWqLMdK9pJEH9QTw2lw7JGlWbiM99RiZBf+bbW9a
4rXEHtBTwK9k2xtJF+IdxPdifzTb3rTAR4g9mH+Yb1ckNeBviM2Ev8u3K2XNJc1HGnUgv0Y3lsKR
NGE+8F3icmFzvl0p6zXEHcQTwI35dkVSg36C2DsLsj++W6Kn94bA2n8JPBhYX1Kc+4APBNZ/Y2Dt
1rifmN9O+3FxRKnr1pC+iUZkxGcz7kcRlxB3S8btGfdDUpw7iMmIA/T8+sxGYg7cSdLM7JK676XE
jcNmvUaTO81fFlT3U6QJsCV13/2k8dgILw+qO63cARt1Fe/jQXUllfGJoLovCKo7rdwBG9U97/3g
tTRiPhNUt/RKC2HmAIdpfkxlU86dkJTFHNJFqabz4oncO5HLetJdBE27P6CmpLJOAQ8E1F1Lxkm4
cwZs1NjH94PqSirrB0F1nx9Ud4qcARu1Uw8F1ZVUVlTAZrvQlTNgbwiqa8BK/RT17TTbvbA5A/b6
gJrjGLBSX0X1YJ8bVLeofTR/RXBL1j2QlNMYcIjmc+ORXDuQqwe7krSaZNPsvUr9FfUNdR2wMKDu
FLkCNmJ4AOK+Qkhqh4hzfA5wbUDdaf+Hcoga87AHK/VbVCcqqtM3SdcD1h6s1G9RdxIYsDNgD1bq
NwN2BjYE1DxC5ueKJWW3iTTfc9OyzB+dK2DXBdT8Aekqo6T+ehp4NKBubwJ2Mek2rab9MKCmpPaJ
uNZyFXBRQN1JcgRsRO8VYn6rSWqfiNVKLiKFbKguB+zjQXVH0c2lGyCdxeaguhHXhibJEbBRYx2u
wdWcu4B7gFtKN0SaRlTARnX+TssRsNcE1Y066KPqJuDzGLRqn84GbA530vxkDc8C83PuRM9Nd4zv
wqEDtcMyms+QceCOnDsR5T6aPzBbs+5B/53tWNujVRs8SfM58uWsexBkK80fmLuz7kH/zeSYG7Qq
6X6az5HwWz2jx2DnAKsD6joPbH71GK1DByoh4q6htQE1J4kO2FXAvIC6PiJbzs1414Hy2xZQ82Jg
eUDd06IDNuo3xPagupo57zpQThEBC8G92OiAvTKorgHbHgatcjBgpxHV+KiDrdkzaBXJgJ3GmqC6
Bmx7GbSKEHXdpdMBGzFEMA7sDKirZnnXgZoUNSwYNYwJ5LmLoGl7gRMBdRXDuw7UhEPAUwF1IzLq
tOiAjZgHdkdATcWzR6sLFTE0eHlAzdO62IPdFVBT+dij1WztCajZ6YCNaHzEQVZ+XgzT+dodULOz
ATsfWBpQ14DtF4NWMxVx7l8GzA2oC8QG7EpgLKCuAdtPBq3OJeLcn0MK2RCRARvV9TZg+82g1ZlE
nfthwwRdDNiIcRi1j0GrYQbsgKj7y+zBjhaDVrWozlXYvbCRARs1rmHAjiaDVlHnfifHYCPuIADY
F1RX3eADC6Nrb1DdZUF1QwM2YiLbceBgQF11jw8sjJ79QXU7GbARjT4MnAyoq+5y6GB0nACOB9Q1
YCv2XnUmBu1oiMiAsGVjDFj1jUHbbxEZYA+2YsBqpgzafjoQUNOArRiwOl8Gbb/Yg60YsGoTg7Yf
DNhKRKMjvh5otBi03RaRAZ27yDUGXBxQN2LJCI0mH1jopoge7OKAmkBcwC4Iqn0ooKZGW/3AgkHb
DREZMJc0f3XjogI2ovcKcCyoruSTYd0QlQGLIopGBWxIY4GjQXWlmmO07WbAEhew9mCVi0HbTlGd
LAMWA1b5GbTtYg8WA1b9Y9C2gwGLY7DqL4O2LAMWe7DqP4O2DMdgMWA1OgzavOzBYsBq9PhkWB5R
PdiQe/ejAnZeUN2I2cylJvlkWKyoDOjUk1wXBdV1uRh1hU+GxXg2qG5IFkYF7NygulEHV4riGG2z
ojpZIZllwEp5GLTNiMqAkG/dBqyUl0F7YaIywB4sjsGqPwza2TFgsQcrzZRBe34cg8WAlc6XQTsz
9mAxYKXZMmjPzoDFgJUulEE7Pe8iwICVmmLQTmYPlrSqrKTm3AT8KbCudEMKOxVUt1NPcnXqcTap
5e4FXgdsBDYXbktpnboFtGsBG3VwpTaqg/VVwBcKt6UtOjX8GDUpiwErzd69wPswVKfTqczqVGMx
YNVvBuu52YPFgJXOh8E6c50agzVgpXIM1vNnDxYDVjobg3X2OpVZnWosBqy6zWC9cPZgMWClQQZr
cwxYDFgJDNYIXuQiLmAXBNWVmvQV4M+qVzUrZPVXgjIr6kmuqKV1FwbVlZow+Eir4RpjUVDdkMyK
6sEeC6p7cVBd6UI4FJBPVAYcjSjatYCN+u0lzYbBml9UBoRklgErnT+DtRwDlqDuNg4RqCyDtbyo
DOhUwNqDVZ8YrO1hDxYDVv1gsLaPAYsBq24zWNvLgMXbtNRNBmv7eZsWcQF7SVBdjTafvOqOiIAd
B04E1A17kusk8HRA3aUBNTW6vkJ66sonr7pjWUDN4wStVhu5SuvBgJrLA2pq9PhIa3dFZMCBgJpA
9wI24reXRoertHZfRAZEZBUQNwYLBqzaw4tX/RHRgzVgKw4R6HwYrP1jD7ZiD1alGKz9ZQ+2YsAq
N4O1/zrVg+3aRa6lwFhAXXWbF69GwxxgcUBd7yKoXIQPG2hCfR+rwToalhCTWYcCagLdC1iAy4Lq
qju8j3U0rQyquz+obmjARnW7VwXVVfvZYx1tUQHbyTHYvUF1Lw+qq/ayxyqIO/f3BNUNvYsgqtEG
7OjwrgANMmAHGLCaLYNV0zFgBxiwOl8Gq84m6tyPGs4Mv4sgYspCA7Z/vI9VMxFx7h8DjgTUBWID
FmJ+Mxiw/WGw6nxEnPthwwMQH7ARjTdgu8/brTQbKwJqhg0PQDcDdk1ATeXh7Va6EFcG1NwdUPO0
yItcEBewY6R1dNQNrnmlCzUHuCKgbqd7sDsDas4n7okONcseq5qyCpgXUHdHQM3TogN2e1DdtUF1
1QwvXqlpUed8VEYB8QG7LaiuAdtOBquiRJ3zURkFxI/BRv12iBjs1uz5gICiGbDTsAfbbwarconq
VIUOEXQ1YO3BlmWwKreITtU4wRe5cthP2pEmt//Kugf9N9Pjfhdwc6E2arR9luZzJPQprly+S/MH
5sGse9B/5zre9wC3FGudBA/RfI48kHUPgnyO5g/MUVz8sEn2WNVmc0iTsjSdI/+Zo+HRtgTUXIRL
x0TyAQG1yRpgYUDdxwNqTpIjYDcH1V0XVHeUeR+r2ijqXO9FwD4WVHd9UN1R5OxWarNrgupGdf5O
i75NC+J+S9iDbc7G0g2QziKqMxXV+Tutyz1YA1YaDVE92F4MEewATgTUvS6gpqT2iTjXjxE8Fyzk
CdhTwNaAus8LqCmpfW4IqPkY6VatUDkCFmKGCdYCSwLqSmqPpcSsYhJ+gQvyBewjATXHsBcr9V1E
7xVgU1DdSXIF7MNBdQ1Yqd+izvGoTJokV8D+MKiuASv1mwE7A1E7E/X1QVI7RJ3jUZ2+IuYBT9P8
ZA3fzrkTkrKLmI3vBDA3507k8DDNH6jj9PBASQLSuR0xi1a26U5zDRFATJd8AXFPeUgqaz0xs2hl
Gx7IGbAPBdV1HFbqp6gLXL0M2KhuuQEr9VPUud3LIYLvBdX1Vi2pn6LO7agsmiJ3wEY8+/uigJqS
ynthQM1x4PsBdVthKzF3EizIuROSwi0gndtN50WWOQhqOXuwkO5pa9oC4BUBdSWVcxMxHaesK1Ln
DtiosY83BtWVVMabgupmG3+F/AEbtQ75m/GBA6kv5gNvCar9zaC6rXAtzY+p1NttGfdDUpy3EpcT
vV8sdScxB+6LOXdCUphvEJMRO3PuRCmfIO63080Z90NS815DXD7cmXE/ivkt4g7g9/GWLamr5hMz
e1a9/Ua+XSlnNfAscQfxPfl2RVKD3kNcLjwLXJFvV8r6OnEH8jhwY75dkdSAG4iZmrDe/jvfrpT3
+8QdyHHS3LOXZ9sbSRdiBWm2vchMeFe2vWmBFcQ8Bje4fQO4JNcOSZqVhcA9xGbBcWBlrh1qi38i
9qCOA/+GF72ktpoP/AvxOfCxXDvUJhuJP7DjpN+ODhdI7bICuIs8GfDqTPvUOneT5wBvBV6SaZ8k
nd11wA/Ic+6P1MWtYT9LnoM8DhwF3odDBlIp80gXm54i33n/01n2rMWiHos70/YQcGuWPZNUey1p
qsCc5/p9Wfas5V4JnCLvgR8H/o/0VNni+F2URtJC0kx3nyf/+X0K+Mn4XeyGj5L/P0C9HQA+BPwi
6SkzSbO3mnQufRDYT7nz+o7oHZ2JsdINqKwlzSOwpHRDgG2ktmyqtkcGXo8VbJfUFiuADaSp/zYM
bDeQzuXSDpHasr10Q9oSsABvJ/3Wa7NtTATvo6T1fTYDjwE7CrZLatJ8YB1TQ7R+v6xc02bk7cCH
SzcC2hWwAP9Bd5d/Oc5E4A5vW5iYB1cqbQ5p4pNrmNoLXQ9cRf7VTprySeKWmzlvbQvY1cC36OdY
6DOkryxbSYG7DXhi6L0hrAs1h3T+XE0Kyqurbe3A+zWkW6b6Zhfw4uq1FdoWsJBWk/wS6WvKqHma
FMLbSf8nGX7dSRqK2AWcLNRGlTEPWAVcSep9XkEKytWk8FxVvfY1PM/laeCnSE9utkYbAxbgHcAH
SjeixcaB3dVWh+++atsD7K22+rO9GMhtM490sWhl9bqCFJKDn60mBeqqatOZ/TYtzIy2BizA35Km
NVQzDpICeTB091efPzXwOt1nRwu0twsuJl3wWTrweunQZ8uqzwaDc1X192rG3wO/V7oR02lzwI6R
7ir4zdINEc8wEbj7q/dPD7weId3Cdhw4XP38QdIs8gdIvedDwAkmh/Uhpvasj1Q1B9W1By0EFg19
Np+pU1RexOTb/y4mPS69pPq7S0lLvi8d+PeLqvqLST3NZdXrYIAuq/69yvoI8Ou09NpFmwMW0v/x
Pwb8UumGSGqdj5OyobXDX3NLN+Acxkmr0K4BfqxwWyS1x8eAt9LicIX2ByykkP1U9X5jyYZIaoX3
A79DGoJqtS4EbO0u0i1Kt+LYlzSKniFdzPoLWjrmOqztY7DTeSlwJ+mJE0mjYTvwFuDe0g05H118
HO5+4OXAv5duiKQsPkPqWHUqXKGbAQvpHs6fJ/1G21O4LZJiHCQ9QHAbLXr89Xx0aQx2Og+S7oNb
SXoGuYtDHpImGyetOv1zpGsvndWnQLoRuB14femGSJq1rwPvpoPDAdPpU8DWbgb+gPS1oo/7J/XR
F4C/Bj5buiFN6nMA3Qi8k/Skx/LCbZE01SHgX0lzCXyzcFtC9DlgawtJk3i/FbiFqc+vS8rnBPBl
0jp8n6DnEwmNQsAOWkhaafJW0lDCixjNeWelXJ4Bvgd8Bfgc6aJVr0N10KgF7LB5wAtI99g9D7hu
YLOnK83cYSbWq6u3B4DvMnV2tJEx6gF7JmOk2eGvm2ZbR/sXfZMiPEla4LNeabneHiattqEhBuzs
LCLN8LVhmu25OJmyuuk46ZHUR6fZHiHN7avzYMDGWE1asXNw0bmrqu05pHB2whrldKZFNx8feN1b
rHU9ZcCWMZe0aN1zSEMRdfDWC9etJoWwt5dpJvaRvqLXi2LuJIXm1oFXVywuwIBtt4WkIK4XvqtX
D61XFl1FCuMVpOVN1B+HSD3KenHLHUysKLy9+mxb9ecThdqoczBg+2MBkxfWu5zJK5auHHpdTrpY
19UJf7riWSYWkxxc6XffwJ/3MHUV4JG98t4nBqwWM3Vl1GVMBPDg5/V2Cen+4aWk4Y5LSUHdl7sr
BhdsrAOyXtxxcLXdwfcHqm3488OZ264WMWDVtHmk0K5XfR1exbX+86DpVoOtV3qdiaeYunzIdKvT
HietUDu8yu3R6n29Iq4kSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIk
SZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIk
SZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSZIkSeqx/wc3LPIjwTbzowAAAABJRU5ErkJggg==
"
       id="image20" />
  </g>
</svg>
